<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>

<body>
<form th:method="POST" th:action="@{/users}" th:object="${user}">
    <input type="hidden" name="Id" th:value="${user.id}">
<label for="name"> Enter name </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <br/>
    <br/>
    <label for="age"> Set age </label>
    <input type="number" th:field="*{age}" id="age"/>
    <br/>
    <br/>
    <input type="submit" value="Set user"/>
</form>
</body>