<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>New user</title>
    <style>
        table {
            width: 300px; /* Ширина таблицы */
            border: 1px solid green; /* Рамка вокруг таблицы */
            margin: auto; /* Выравниваем таблицу по центру окна  */
        }
        td {
            text-align: center; /* Выравниваем текст по центру ячейки */
        }
    </style>
</head>

<body>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <input type="hidden" name="Id" th:value="${user.id}">
    <input type="hidden" name="Username" th:value="${user.username}">
    <input type="hidden" name="Password" th:value="${user.password}">
<label for="name"> Enter name </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="age"> Set age </label>
    <input type="number" th:field="*{age}" id="age"/>
    <br/>
    <br/>
    <br/>
    <input type="submit" value="Set user"/>
</form>

<a href="/logout">Exit</a>

</body>